<link href="/css/style.css" rel="stylesheet" type="text/css" />

<%- include ("./partials/navbar"); %>
<nav class="breadcrumb mt-5 bg-white">
  <a class="breadcrumb-item" href="/home">Home</a>
  <a class="breadcrumb-item" href="/books/">Books</a>
  <span class="breadcrumb-item active"> <%=book.title.substring(20, 0)%> ...</span>
</nav>
<div class="pb-5">
  <div class="contact-form__wrapper">
    <h4 style="font-weight: 300;">Hey, <%= username %> &#128075;</h4>
    <h2 style="font-weight: 400;">Update book info</h2>
    <%- include ("./partials/forms/edit"); %>
  </div>
</div>