
<nav class="navbar navbar-expand-lg navbar-light bg-white mt-3">
  <a class="navbar-brand" href="/"><b>Library</b></a>
  <a class="btn btn-outline-dark ml-auto px-4" href="/users/login">Login</a>
</nav>

<div class="container pt-3">
  <div class="row py-3">
    <div class="col-sm-12 col-md-12 col-lg-6 vertical">
      <div class="pb-4">
        <h2 class="main-header">Discover books you'll love!</h2>
        <p class="sub-header">Real readers' favorite books to provide book recommendations and suggestions for what to read next.</p>
        <a class="btn btn-lg my-3 px-5" href="/users/signup" style="background-color: #05060a;border-color: #05060a;color: #ffffff;">Get Started</a>
      </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-6 justify-content-center">
      <div class="px-5 mt-3">
        <img src="images/welcome.png" class="img-fluid" alt="illustration">
      </div>
    </div>
  </div>
</div>